p {color: red;
    margin-left: 1cm;}


.title {color: rgb(43, 0, 255);
margin-left: 50%;
background-color: rgb(0, 255, 128);
width: fit-content;
border-style: dashed;}
.image1 {margin-left: 75%;
position: absolute;
margin-bottom: 90%;
object-fit: fill;}
.text { position: absolute;}
.image2 {margin-left: 53%;
    position: absolute;
object-fit: cover;}

